/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul li{
    list-style: none;
}
/*------------------------------------------------------------------
    PANEL ADMIN
-------------------------------------------------------------------*/
* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    margin: 0;
}


body {
    font-size: 15px;
    font-family: "Rubik", sans-serif;
    line-height: 1.80857;
}




/*VENTANA DE MENÚ DE ADMINISTRACIÓN*/
.nav_barraLateral {
    width: 100%;
    background-color: #222;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_barraLateral h1 {
    color: white;
    font-size: 30px;
    width: calc(100% - 310px);
    text-align: center;
}

#sidenav {
    position: fixed;
    top: 100px;
    height: 100vh;
    z-index: 1;
    width: 310px;
}

#sidenav-header {
    background-color: #ef7000;
    width: 310px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    background-color: #222;
    height: 100%;
}

#profile-picture {
    height: 60px;
    width: 60px;
    background-color: white;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .4);
}

#profile-picture img {
    width: 100%;
    height: 100%;
}

/*LISTA DE OPCIONES DEL PANEL ADMINISTRATIVO*/
#main-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 100%;
    bottom: 0px;
}

#main-nav li {
    padding: 5px;
    margin: 0;
}

#main-nav li a {
    width: 100%;
    display: block;
    padding: 0 20px 0 100px;
    text-decoration: none;
    color: #98cde6;
    position: relative;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 55px;
}

#main-nav li a:hover {
    color: white;
}

#main-nav li a:focus {
    background: rgba(0, 0, 0, .2);
    color: white;
    box-shadow: inset 5px 0 0 white;
}

#main-nav li a .fa {
    font-size: 30px;
    position: absolute;
    width: 60px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    left: 20px;
}

#main-nav li.active a .fa {
    color: #98cde6;
}

.tab-container {
    padding: 20px;
    padding-top: 100px;
}

.tab-container h1 {
    font-family: 'Roboto Condensed', sans-serif;
}


/*-----------------------GENERAL--------------------------*/
#btnMenu{
    color: #fff;
    font-size: 40px;
    display: none;
    cursor: pointer;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

header{
    min-height: 100vh;
    position: fixed;
    z-index: 1;
}

header nav {
    min-height: 100%;
}

#sidenav-header > div.btn-group > button > span.etiquetaPerfil{
    color: white; 
    font-weight: 800; 
    padding: 0 15px
}

main {
    min-height: calc(100vh - 100px);
    width: calc(100% - 310px);
    position: relative;
    left: 310px;
    top: 100px;
    display: flex;
}

.menus li:hover {
    background-color: #ef7000;
}

/*-------------------GENERAL------------------------------*/

/*-------------------OFERTAS------------------------------*/

.modalCrud .modal-body .tablaResponsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.modalCrud .modal-body .tablaResponsive .form-group{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

main.mainOfertas{
    justify-content: start;
    align-items: stretch;
}

    main .primario{
        width: 80%;
        min-height: calc(100vh - 100px);
        text-align: center;
    }

        main .primario>h3{
            margin-top: 30px;
        }

        main .primario .ofertas-content {
            padding: 30px;
            width: 100%;
            display: grid;
            align-content: center;
            grid-template-columns: repeat(auto-fit, 240px);
            justify-content: center;
            gap: 20px 50px;
        }

        main .adicional{
            width: 100%;
            margin: 0 auto;
            height: 100px;
            top: calc(100px + 5%);
            display: flex;
            column-gap: 30px;
            justify-content: center;
            align-items: center;
        }

            main .adicional .input-group{
                width: 40%;
            }

            main .adicional select{
                width: 50%;
                display: none;
            }

            main .primario .ofertas-content .cardOfertas{
                width: 240px;
                height: 350px;
                border: 15px solid #fff;
                box-shadow: 0 5px 35px rgb(0 0 0 / 8%);
                overflow: hidden;
                position: relative;
            }

            .efectoCarta{
                position: relative;
                width: 100%;
                overflow-x: hidden;
            }

                .efectoCarta>div{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    transition: transform 1s;
                    -webkit-transition: transform 1s;
                    -moz-transition: transform 1s;
                    -ms-transition: transform 1s;
                    -o-transition: transform 1s;
                }

                .efectoCarta .front{
                    transform: perspective(500px) rotateY(0deg);
                    -webkit-transform: perspective(500px) rotateY(0deg);
                    -moz-transform: perspective(500px) rotateY(0deg);
                    -ms-transform: perspective(500px) rotateY(0deg);
                    -o-transform: perspective(500px) rotateY(0deg);
                }

                .efectoCarta.cambiar .front{
                    transform: perspective(500px) rotateY(180deg);
                    -webkit-transform: perspective(500px) rotateY(180deg);
                    -moz-transform: perspective(500px) rotateY(180deg);
                    -ms-transform: perspective(500px) rotateY(180deg);
                    -o-transform: perspective(500px) rotateY(180deg);
                }

                .efectoCarta .back{
                    transform: perspective(500px) rotateY(180deg);
                    -webkit-transform: perspective(500px) rotateY(180deg);
                    -moz-transform: perspective(500px) rotateY(180deg);
                    -ms-transform: perspective(500px) rotateY(180deg);
                    -o-transform: perspective(500px) rotateY(180deg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: justify;
                }

                .efectoCarta.cambiar .back{
                    transform: perspective(500px) rotateY(360deg);
                    -webkit-transform: perspective(500px) rotateY(360deg);
                    -moz-transform: perspective(500px) rotateY(360deg);
                    -ms-transform: perspective(500px) rotateY(360deg);
                    -o-transform: perspective(500px) rotateY(360deg);
                }

                    main .primario .ofertas-content .cardOfertas .front .img{
                        height: 200px;
                        width: 100%;
                    }

                    main .primario .ofertas-content .cardOfertas .front .info{
                        height: 120px;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                        main .primario .ofertas-content .cardOfertas .info h3{
                            font-size: 16px;
                            overflow: hidden;
                        }

    main .secundario{
        width: 20%;
        background-color: #222;
        margin: 0;
    }

        main .secundario .selectorCategorias{
            color: #fff;
            text-align: center;
            cursor: pointer;
            font-size: 18px;
            display: none;
        }

        main .secundario ul{
            padding: 30px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }

            main .secundario ul li{
                width: 90%;
            }

                main .secundario ul li .opcionesOfertas{
                    background-color: #ef7000;
                    color: #fff;
                    width: 100%;
                }

    .modalCrear .modal-dialog .modal-content .modal-body form{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

        .modalCrear .modal-dialog .modal-content .modal-body .tablaResponsive{
            margin-top: 20px;
            height: 300px;
            overflow-y: auto;
        }

        
/*-------------------END OFERTAS------------------------------*/

/*-------------------MODULO ENCUESTA------------------------------*/
main.moduloEncuesta{
    justify-content: center;
}

main.moduloEncuesta::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(31, 31, 35, 0.8), rgba(32, 32, 35, 0.7) ), url(../img/fondoEncuesta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    main.moduloEncuesta .encuesta{
        max-width: 720px;
        padding: 30px;
    }

        main.moduloEncuesta .encuesta form{
            color: #fff;
        }

        main.moduloEncuesta .encuesta form div .input-textarea{
            min-height: 120px;
            width: 100%;
            padding: 0.625rem;
            resize: vertical;
        }

        main.moduloEncuesta .encuesta form div button{
            width: 100%;
        }

        main.moduloEncuesta .encuesta form .select{
            display: flex;
            flex-direction: column;
        }

        main.moduloEncuesta .encuesta form .select label{
            display: flex;
            align-items: center;
        }

        .input-radio,
        .input-checkbox {
            display: inline-block;
            margin-right: 0.625rem;
            min-height: 1.25rem;
            min-width: 1.25rem;
        }

/*-------------------END MODULO ENCUESTA------------------------------*/

/*-------------------ENCUESTA------------------------------*/

main .EncuestaEntorno {
    width: 90%;
    margin: auto;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    justify-content: center;
}

    main .EncuestaEntorno .btnEncuesta{
        text-align: center;
        margin-top: 10px;
    }
/*-------------------END ENCUESTA------------------------------*/


/*-------------------TRABAJADOR------------------------------*/
main.mainTrabajadores{
    flex-direction: column;
    row-gap: 20px;
}

main.mainTrabajadores h3{
    width: 100%;
    padding-left: 30px;
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}

main.mainTrabajadores .tabla{
    width: 90%;
    margin: 0 auto;
}

    main.mainTrabajadores .tabla thead{
        text-align: center;
        background-color: #ef7000;
        color: #fff;
    }

    main.mainTrabajadores .tabla tbody tr .botonesTable{
        text-align: center;
    }

        .grupoBotones{
            text-align: center;
        }

        main.mainTrabajadores .tabla tbody tr td img{
            width: 80px;
            height: 80px;
            object-fit: cover;
        }


/*-------------------END TRABAJADOR------------------------------*/






/*---------RESPONSIVE -------------------------------*/

@media screen and (max-width: 1300px){
    #main-nav li a {
        padding: 0 20px 0 60px;
    }

        #main-nav li a .fa{
            left: 0;
        }

    #sidenav, #sidenav-header{
        width: 250px;
    }

    main{
        left: 250px;
        width: calc(100% - 250px);
    }

    main .primario .ofertas-content {
        padding: 10px;
    }

    main .adicional .input-group {
        width: 50%;
    }

    /*-----Trabajadores---------------*/
    main.mainTrabajadores .tabla{
        width: 97%;
    }

    main.mainTrabajadores .tabla tbody tr td img{
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 992px){
    #sidenav {
        left: calc(100vw);
        width: 250px;
        transition: transform .5s;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -ms-transition: transform .5s;
        -o-transition: transform .5s;
    }

    #sidenav.responsive{
        transform: translateX(-250px);
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -o-transform: translateX(-250px);
    }

    #sidenav-header > div.btn-group > button {
        left: 25px;
    }

    main{
        width: 100%;
        left: 0;
    }

    main.mainOfertas {
        flex-direction: row-reverse;
        position: relative;
    }

    .nav_barraLateral{
        margin-left: 0px;
    }

    .nav_barraLateral h1{
        font-size: 24px;
        width: auto;
    }

    #btnMenu{
        display: block;
    }

    #sidenav-header{
        padding: 20px 50px;
        width: 23.6vw;
    }

        #profile-picture{
            left: 10px;
        }

    main .secundario{
        width: 75%;
    }

    main .secundario{
        width: 25%;
    }

    /*-----Trabajadores---------------*/


    main.mainTrabajadores .tabla{
        width: 96%;
    }

    main.mainTrabajadores .tabla tbody tr td img{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 768px){
    #sidenav-header{
        width: 18%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    #sidenav-header > div.btn-group > button {
        left: 0px;
    }

    .nav_barraLateral h1{
        font-size: 20px;
    }

    main.mainOfertas{
        flex-direction: column-reverse;
    }
    

    main.mainOfertas .primario{
        width: 100%;
    }

        main.mainOfertas .primario .adicional{
            flex-wrap: wrap;
        }

        main .primario .adicional select{
            display: block;
        }

        main .primario .adicional .input-group{
            width: 60%;
        }

    #profile-picture{
        position: initial;
    }

    main .secundario{
        display: none;
    }

    /*-----Trabajadores---------------*/


    main.mainTrabajadores .tabla{
        width: 100%;
    }

    main.mainTrabajadores .tabla tbody tr td img{
        width: 60px;
        height: 60px;
    }

}

@media screen and (max-width: 576px){
    .nav_barraLateral{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        height: auto;
    }

    #btnMenu{
        font-size: 30px;
    }

    #sidenav-header{
        width: 100%;
    }

    .nav_barraLateral h1{
        font-size: 15px;
        width: 80%;
        text-align: center;
    }

    .nav_barraLateral{
        justify-content: space-around;
    }

    #sidenav{
        top: 152.25px;
        width: 100vw;
    }

    #sidenav.responsive{
        transform: translateX(-100vw);
        -webkit-transform: translateX(-100vw);
        -moz-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
        -o-transform: translateX(-100vw);
    }

    main{
        padding: 10px;
    }

    main .primario>h3{
        font-size: 25px;
    }

    main.mainOfertas{
        top: 152.25px;
    }

    main .primario .ofertas-content{
        padding: 10px;
    }

    main.mainOfertas .primario .adicional{
        flex-direction: row;
        height: auto;
        row-gap: 15px;
    }

    main .primario .adicional .input-group, main .primario .adicional select{
        width: 100%;
    }

    /*-----Trabajadores---------------*/
    main.mainTrabajadores{
        padding: 0;
        top: 152.25px;
    }

    main.mainTrabajadores h3{
        font-size: 25px;
        margin-top: 20px;
    }

    main.mainTrabajadores .tabla{
        width: 100%;
    }

    main.mainTrabajadores .adicional{
        flex-wrap: wrap;
    }

    main.mainTrabajadores .adicional .input-group{
        width: 90%;
    }

    main.mainTrabajadores .tabla tbody tr td img{
        width: 60px;
        height: 60px;
    }
}